
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.donate-banner{
    position: relative;
    background-image: url(../images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin-bottom: 50px;
}
.container {
	width: 60%;
	margin: 0 auto;
	padding: 15px;
    margin-bottom: 50px;
}

.header{
    padding: 10%;
    margin: 0 auto;
    text-align: center;
}
.header h2{
    font-size: 50px;
    font-weight: bold;
    color:white;
}
.header p{
    font-size: 14px;
    font-weight: 200;
    color:white;
    margin-bottom: 15px;
    text-align: justify;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 5px 20px;
    border-radius: 5px;
    color:white;
}

/* donate today start */
.today-donate{
    text-align: center;
}
.today-donate h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.today-donate p{
    font-size: 14px;
    font-weight: 200;
    text-align: justify;
}
.donate-taka{
    display: flex;
    text-align: center;
}
.box-shadow{
    box-shadow: 2px 2px 10px rgb(154, 186, 255);
    font-size: 20px;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 8px;
    text-align: justify;
    padding: 40px 20px;

}
.box-shadow h5{
    font-family: sans-serif;
    font-size: 22px;
    padding-left: 5px;
}
.special-shadow{
    background-color: rgba(246, 201, 196, 0.758);
    color: rgb(245, 50, 28);
    border: 1px solid red;
    font-weight: 600;
}
.donate-form-box {
    padding: 40px 0;
}
.donate-form-box input {
    height: 30px;
    width: 100%;
    border: none;
    text-align: center;
    border-bottom: 1px solid #DADADA;
    font-family: "Montserrat";
    margin-bottom: 20px;
}

.donate-form-box input:focus {
    outline-width: 0;
}
.btn-center{
    text-align: justify;
}

.our-plan{
    margin-top: 10px;
    margin-bottom: 5px;
}


.half-width{
    width: 33%;
}
.donate-package{
    display: flex;
    

}
.family{
    box-shadow: 6px 6px 30px  white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 15px;
}
.icon-image{
    margin-top: 15px;
    margin-bottom: 20px;
}
.donate-h{
    font-size: 22px;
    font-weight: bold;
    margin-top:5px;
    margin-bottom: 10px;
}
.donate-family{
    background-color: bisque;
}
.shelter{
    background-color: cadetblue;
}
.education{
    background-color: hotpink;
}

/* famous donetor */
.famous-donetor{
    width: 80;
    margin: 0 auto;
}
.top_donetor{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
.top_donetor h1 {
  text-align: center;
}
.top_donetor_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
}
.person {
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 10px;
  position: relative;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.person img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.famous{
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}
.get-update{
    margin-top: 30px;
    margin-bottom: 20px;
}
.email-input{
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 10px 15px;
    height: 50%;
    border: 1px solid white;
    border-radius: 5px;
}

.email{
    background-color:rgba(215, 156, 186, 0.726);
    text-align: center;
    
}
.subsribe-button{
    text-decoration: none;
    background-color:crimson;
    padding: 9px 30px;
    color:white;
    border-radius: 5px;
}
.half-width{
    width: 50%;
    margin-left: 15px;
}
.half-width img{
    width: 90%;
    margin-top: 40px;
}
.half-width h3{
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
}
.half-width p{
    font-size: 14px;
    color:dimgray;
    font-weight: 200;
    margin-bottom: 30px;
}
.flexible-container{
    display: flex;
}

footer{
    height: 150px;
   background-color: black;
    text-align: center;
    color:white;
}
.humble{
font-style: italic;
 color:rgb(244, 93, 123);
padding-top: 40px;}