
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.donate-banner{
    position: relative;
    background-image: url(../images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
}

.header{
    padding: 17%;
    margin: 0 auto;
    width: 50%;
}
.header h2{
    font-size: 50px;
    font-weight: bold;
    color:white;
}
.header p{
    font-size: 14px;
    font-weight: 200;
    color:white;
    margin-bottom: 15px;
}
.anchor-button{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 5px 20px;
    border-radius: 5px;
    color:white;
}
